body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: linear-gradient( #000000, #ffffff); 
}

.opcion {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    padding: 20px;
}

.opcion:hover {
    background-color: #ff000094;
}

.imagen {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}

.titulo {
    margin: 10px;
    font-size: 1.2rem;
    color: #ff9100;
    text-shadow:
        -1px -1px 0 #000, /* Sombra superior izquierda (color oscuro) */
        1px -1px 0 #000,  /* Sombra superior derecha (color oscuro) */
        -1px 1px 0 #000,  /* Sombra inferior izquierda (color oscuro) */
        1px 1px 0 #000;   /* Sombra inferior derecha (color oscuro) */
    font-size: 30px; /* tamaño de la fuente */
    font-weight: bold; /* negrilla */
    font-family: "Comic Sans MS"; /* tipo de fuente */
    letter-spacing: 3px; /* Espacio entre las letras */
    text-align: center;
}
.navbar {
    background-color: #3C3C3C; /* Color de fondo de la barra de navegación */
    font-size: 24px; /* tamaño de la fuente */
    color: #CCCCCC; /* Color del texto en la barra de navegación */
    padding: 10px 0; /* Espacio interno en la barra de navegación */
    font-family: "Comic Sans MS";
    border: 4px solid black; /* Agrega un borde inferior de 2px con el color verde (#99cc00) */
    letter-spacing: 3px; /* Espacio entre las letras */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la navbar esté encima de otros elementos */
}

.navbar nav ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.navbar nav ul li a {
    text-decoration:none;
    color: white;
    transition: color 0.3s;
}

.navbar nav ul li a:hover {
    color: #99cc00; /* Cambia el color al pasar el cursor sobre los enlaces */
}
#logo-navbar  {
    width: 30px; /* Ajusta el tamaño según lo necesites */
    height: auto;
}